body, input, button{
  font: 12px/1.3 'Arial', serif;
}
a{
  color: #000;
  text-decoration: none;
}

main#container{
  position: fixed;
  width: 100%;
  height: calc(100% - 60px);
  background: #fff url('../wallpaper.jpg');
  background-size: 500px 500px;
  /*background-color: #00ffff;*/
  
  top: 60px;
  left: 0px;
}

nav{
  position: fixed;
  background-color: #fff;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
nav ul{
  list-style-type: none;
  display: flex;
  margin:0;
}
nav li{
  line-height: 40px;
  text-align: center;
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  transition-duration: 0.3s;
  white-space: nowrap;
  border:1px solid #eee;
  border-radius: 2px;
  margin:10px 20px 10px 0;
  padding-right: 10px;
  box-sizing:border-box;
}
nav li:hover{
  max-width: 150px;
}
nav li span,
nav li a{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  font-size: 25px;
}
#toggle_sound span{
  font-size: 40px;
}

#phaser{

  position: absolute;

  width: 100%;
  height: 100%;
  z-index:2;
}

#grid{
  position: absolute;

  width: 100%;
  height: 100%;
  z-index:1;
  background: rgba(255,255,255,0.6);

  /*width: 100%;
  height: calc(100% - 60px);
  background: #fff url('../test_bg.jpg');
  background-size: cover;
  top: 60px;
  left: 0px;*/
}
#grid .row{
  overflow:hidden;
  white-space: nowrap;
  margin-bottom: -4px;
}
#grid .row div{
   box-shadow: inset 1px 1px 0px #ecf0f1,inset -1px 1px 0px #ecf0f1,inset 1px -1px 0px #ecf0f1,inset -1px -1px 0px #ecf0f1;
  display:inline-block;
}

.imageAlign .form-group{
  display:inline-block;
  width: 64px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.imageAlign .form-group small{
  margin-top: 5px;
  margin-bottom: 3px;
  opacity: 0.7;
}



aside{
  position: absolute;
  width: 350px;
  right: 5vh;
  top: 5vh;
  bottom: 5vh;
  padding: 20px;
  box-sizing: border-box;
  /*background-color: rgba(115, 34, 214, 0.8);*/
  background-color: rgba(112, 139, 175, 0.8);
  border-radius: 10px;
  font-size:0;
  transition-duration: 0.3s;

  z-index: 9999;
}
aside.closed{
  right: -355px;
}

#toggle_aside{
  border-radius: 3px;
  position: absolute;
  /*
    Border:
      top: -25px;
      left: -90vh;
  */
  top: -22px;
  left: calc(-90vh + 40px);
  width: calc(90vh - 60px);
  text-align: center;
  line-height: 20px;
  background: rgba(112, 139, 175, 0.8);
  outline: none;
  border: none;
  color:#fff;

  -ms-transform: rotate(-90deg); 
  -webkit-transform: rotate(-90deg); 
  transform: rotate(-90deg);

  transform-origin: 100% 100%;
}

#toggle_aside:hover{
  cursor: pointer!important;
  background: rgba(112, 139, 175, 0.9);
  transition-duration: 0.2s;
}

section{
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  width: 93.3px;
  height: 93.3px;
  margin-right: 10px;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  transition-duration: 0.5s;
  border-radius: 5px;
}
section .toggle_section{
  color: #fff;
  font-weight: bold;
  width: 93.3px;
  height: 93.3px;
  display: block;
  font-size: 30px;
  transition-duration: 0.5s;
  background-color: transparent;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.4);
}

section.open{
  width: 100%;
  height: 100%;
  
  overflow-y: auto;

  border-color:#556e8e/* rgba(115, 34, 214, 1)*/;
}
section.open .toggle_section{
  background-color: transparent;
  width: 100%;
  line-height: 40px;
  height: 40px;
  font-size: 20px;
  margin: 0 auto;
}
section article{
  padding: 15px;
}
section p{
  font-size:0;
  margin-bottom: 20px;
}
section b{
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}
section input[type="text"],
section input[type="number"]{
  display: block;
  padding: 5px;
  border: 1px solid #eee;
  box-sizing:border-box;
  width: 100%;
  border-radius: 4px;
  outline: none;
}
section input[type="text"].with_value,
section input[type="number"].with_value{
  width:calc(100% - 20px);
  margin-right: 5px;
  display: inline-block;
}
section input[type="text"].with_value + span,
section input[type="number"].with_value + span{
  width:15px;
  display: inline-block;
  line-height:25px;
  font-size: 12px;
}
section input[type="radio"],
section input[type="checkbox"]{
  margin-right: 5px;
}
section input[type="radio"] + label,
section input[type="checkbox"] + label{
  margin-right: 10px;
  font-size: 12px;
}
section select{
  display: block;
  width: 100%;
  height: 30px;
}

article p b span{
  display: block;
  font-size:11px;
  font-weight: normal;
  font-style: italic;
}
#addAction,
#editEntity,
#addEntity{
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  transition-duration: 0.3s;
}
#addAction:hover,
#editEntity:hover,
#addEntity:hover{
  cursor: pointer!important;
  background-color:#fff;
  color:#556e8e;
}

.entityList ul,
.actionsList ul{
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

.entityList li,
.actionsList li{
  line-height: 22px;
  clear: both;
  margin-bottom: 5px;
}
.entityList li span,
.actionsList li span{
  display: block;
  float: right;
  width: 22px;
  font-size: 14px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  margin-left: 10px;
}

/*.entityList .ion-trash-a{
  transition-duration: 0.3s;
}
.entityList .ion-trash-a:hover{
  color: tomator;
}*/





